@import "flatcolors.styl"
body
  font-family "Source Sans Pro"
  background-color flat-tahiti-gold

.top-header-content
  text-align center

.top-header-text
  font-size 32px
  color flat-white-smoke
