doctype html
html
  head
    title NES 30th Anniversary
    link(href='http://fonts.googleapis.com/css?family=Source+Sans Pro' rel='stylesheet' type='text/css')
    link(href='css/style.css' rel='stylesheet')
    script(src='js/humanized_time_span.js')
    body
      div.top-header-content
        p.top-header-text On October 13th, 1985, the NES was released.
        p.top-header-text-small
